# ---- Python files ----------------------------------------------------
# Python venv
.venv
venv
.virtualenv
virtualenv
env

__pycache__

# ---- Project files ---------------------------------------------------
# unzipped project requirements
projeto-task1